@model Technician
@{ 
    ViewBag.Title = "Get Technician";
}

<h1>Technician</h1>

<form asp-action="List" method="post">
    <select asp-for="TechnicianID" class=" form-control">
        @*Must include all properties even though they are not used for this drop-down*@
        <vc:technician-drop-down-options value="" default-value="" default-text=""/>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Select</button>
</form>