@model Customer
@{ 
    ViewBag.Title = "Registrations";
}

<h1>Get Customer</h1>

<form asp-action="List" method="post">
    <select asp-for="CustomerID"  class="form-control">
      <vc:customer-drop-down-options value="@Model.CustomerID" 
          default-value="0" default-text="Select a customer..."/>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Select</button>
</form>